body {
   font-family: "Open Sans", sans-serif;
   color: #020202;
}

.header {
    height: 400px;
    background-image: url("img/faded-office.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0px;
   padding-top: 50px
}

.main {
    width: 320px;
    margin: 0px 40px 
}

h1 {
  font-size: 3em;
  font-weight: 900;
  margin: 0px;
  line-height: 1.2em;
}

p {
    font-size: 1.5em;
}

.come-true {
    border-bottom: 6px solid #0ea5e9;
}

button {
    width: 160px; height: 60px;
    border: none;
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px 0px;
}

button:hover {
    background-color: #00aeff;
    cursor: pointer;
}

button:active {
    background-color: #0991d0;
}